@import 'style/vars.scss';

.profile__container {
  line-height: 1.6;
  max-width: 900px;
  margin: .5rem;
  background-color: #E9E9E9;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0, .4);
  border-radius: 5px;
}

.profile__pict{
  position: relative;
}

.profile__button{
  position:absolute;
  padding:0.3rem 0.6rem;
  right:1rem;
  bottom:-1.8rem;
  font-size: 0.8rem;
}

.profile__pict__cover {  
  background-size: cover;  
  height: 25vh;
  background-color: #E9E9E9;
  width: 100%;  
  box-shadow: 2px 3px 5px 0 rgba(0,0,0, .4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.541);
}
.profile__pict__profile {  
  left:35%;
  bottom:-3.5rem;
  right:-1rem;
  position: absolute;
  height:120px;
  width:120px;
  border-radius: 50%;
  background-color: #E9E9E9;
  border:2px solid #E9E9E9;
  box-shadow: 2px 3px 5px 0 rgba(0,0,0, .4);
  background-size: cover;
}

.profile__name{
  font-size: 1.2rem;
  margin-left: 0.8rem;
  margin-top:1rem;
  font-weight: 700;
  text-align: center;
}

.profile__age, .profile__place{
  font-size: 1rem;
  margin-left: 0.8rem;
  font-weight: 500;
}

.profile__info{
  margin-bottom: 0.3rem;
}

.profile__title{
  font-size: 1.4rem;
  margin-left: 0.8rem;
  font-weight: 700;
  text-align:center;
}

.profile__link{
  display: inline-block;
  font-size: 0.7rem; 
}

.profile__description, .profile__exp{
  margin:1rem 0.8rem;
  border-bottom: 1px solid #313131;
  font-weight:600;
}

.profile__text{
  margin:0.5rem 0.8rem;
  font-weight:300;
  text-align:justify;
}

.profile__portfolio{
  margin:0.5rem 0.8rem;
  font-weight:600;
  border-bottom: 1px solid #313131;
}

.profile__link{
  display: inline-block;
  font-size: 1rem;   
  margin:0rem 0.8rem 0.8rem 0.8rem;
}

.desktops{
  display:none;
}

.profile__editButton {
  display: inline-block;
  border: 1px solid $blue;
  border-radius: 100vmax;
  padding: .2rem .5rem;
  margin: 2rem 0;
  margin-right: 1rem;
}

.profile__textArea {
  line-height: 1.6;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: .2rem;
  width: 100%;
  height: 10rem;
}

@media (min-width: 900px) and (min-height: 500px) {

  .profile__container {
  max-width: 900px;
  margin: 0 auto;
}

  .profile__pict__cover{
    height: 37.5vh;
    background-position-y:center ;    
  }
  .profile__pict__profile{
    left:42%;
    bottom:-1.3rem;    
    position: absolute;
    height:150px;
    width:150px;
        
  }

  .profile__age, .profile__place{
    display:none;    
  }

  .flex {
    display:flex;    
    flex-direction: column;
    justify-content: center;
  }

  .profile__ages{
    display:inline-block;
    font-size: 1rem;    
    font-weight: 400;
    margin-left: 1.3rem;   
  }
  

  .desktops{
    display:inherit;
    text-align: center;
  }
  
}